.button-menu{
    -fx-font-size: 3em;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.button-menu:hover{
    -fx-scale-x: 120%;
    -fx-scale-y: 120%;
    -fx-text-fill: tomato;
}

.background{
    -fx-background-image: url("../images/background-texture.png");
    -fx-background-size: 20%;
    -fx-background-repeat: repeat;
}

.label{
    -fx-font-size: 1.1em;
}

.label-on-background{
    -fx-text-fill: white;
}

.player-label{
    -fx-text-fill: white;
}

.title{
    -fx-font-size: 2em;
    -fx-text-fill: white;
}

.big-title{
    -fx-font-size: 4em;
    -fx-font-style: oblique;
    -fx-text-fill: white;
}

.user-view{
    -fx-border-width: 0.2em;
    -fx-border-color: black;
    -fx-border-insets: -0.2em;
}

.state-message{
    -fx-font-size: 4em;
}

.menu-pane{
    -fx-border-color: black;
    -fx-border-radius: 3em;
    -fx-border-insets: 2em;
    -fx-background-color: snow;
    -fx-background-radius: 3em;
    -fx-background-insets: 2em;
}

.radio-button-notify-pane{
    -fx-scale-x: 200%;
    -fx-scale-y: 200%;
}

.button{
    -fx-cursor: hand;
}

.negative-button{
    -fx-background-color: white;
}

.negative-button:hover{
    -fx-scale-x: 110%;
    -fx-scale-y: 110%;
}

.positive-button{
    -fx-text-fill: wheat;
    -fx-background-color: deepskyblue;
}

.positive-button:hover{
    -fx-scale-x: 110%;
    -fx-scale-y: 110%;
}

.on-board-schema-card{
    -fx-effect: dropshadow(two-pass-box, black, 5, 0, 5, 5);
}

.on-board-card{
    -fx-effect: dropshadow(two-pass-box, black, 5, 0, 5, 5);
}

.on-board-card:hover{
    -fx-scale-x: 110%;
    -fx-scale-y: 110%;
}

.on-notify-pane-card{
    -fx-effect: dropshadow(two-pass-box, black, 5, 0, 5, 5);
}

.on-notify-pane-card:hover{
    -fx-scale-x: 110%;
    -fx-scale-y: 110%;
}